<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap" rel="stylesheet">
     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- SignIn CSS -->
    
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Sign In</title>
 </head>
 <body>

    <div class="container-fluid" style="background: #000;">   
        <div class="row" style="height: 100%;  ">
      
            <div class="col-6 col-sm-4" ><img src ="newlatest_logo_dk@2x.png" style="width: 100px; height: 100px;"></div>
      
            <div class="col-6 col-sm-4" style="background: #000; font-family: 'Alegreya', serif;font-size: 60px;
            text-align: center;
            background-image: -webkit-linear-gradient(#043f72,#0094c4);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;">GAMEJURY</div>
      
           <!--nav hamburger-->
            <div class="col-6 col-sm-4" style="background-color: #000;">
              <div class="nav">
              <label>
                <input type='checkbox'>
                <span class='menu'>
                  <span class='hamburger'></span>
                </span>
                <ul>
                 
                  <li>
                    <a href='home.html'>Home</a>
                  </li>
                  <li>
                    <a href='upload.html'>Upload Review</a>
                  </li>
                  <li>
                    <a href='#'>Game Library</a>
                  </li>
                  <li>
                      <a href='#'>Register</a>
                    </li>
                </ul>
              </label>
              </div>
              
              
                </div>
          </div>
        </div>
 
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1 class="form-label">Create Account</h1>
			<div class="social-container">
				<a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input class='form-field' type="text" placeholder="Name" />
			<input class='form-field' type="email" placeholder="Email" />
			<input class='form-field' type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1 class="form-label">Sign in</h1>
			<div class="social-container">
				<a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
			</div>
			<span>or use your account</span>
			<input class='form-field' type="email" placeholder="Email" />
			<input class='form-field' type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1 class="form-label">Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 class="form-label">Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<div class="footer-basic">
    <footer>
        <div class="social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">GameJury ©️ 2018</p>
    </footer>
</div>

</body>
</html>
