<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
<section>
  <!--for demo wrap-->
  <h1>Aspects For TEKKEN 07</h1>
  <h1></h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th class="table-heading">Major Topics</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody *ngFor="let  tempGame of games">
      <tr >
        <td>{{tempGame.topic1|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic2|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic3|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic4|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic5|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic6|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic7|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic8|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic9|uppercase}}</td>
      </tr>
      <tr >
        <td>{{tempGame.topic10|uppercase}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->
<div class="made-with-love">

</div>
</body>

</html>
