.game-card-container {
  max-width: 90%;
  margin: 0% 5%;
}

.game-card {
  display: inline-block;
}

.mat-card {
  width: 500px;
  background-color: #16161dad;
  border-radius: 5%;
  margin: 20px;
  height: 500px;
}

img {
  margin: 5% 0% 0% 13%;
  padding: 12% 0% 0% 0%;
  width: 75%;
}

button {
  background-color: #1463a6;
}

mat-card-header {
  margin: 0% 0% 0% 15%;
  padding: 5% 0% 0% 8%;
  text-align: center;
  color: aliceblue;
}

mat-card-actions {
  margin: 0% 0% 0% 22%;
  padding: 0% 0% 0% 15%;
  color: aliceblue;
}

mat-card-subtitle {
  color: aliceblue;
}

h2 {
  margin: 25px;
  font-size: 50px;
  color: aliceblue;
  padding: 5px;
}

body {
  background-color: rgb(0, 0, 0);
}

#content {
  display: none;
  color: aliceblue;
}

.grid-item:hover #content {
  display: block;
}

.gamedescrip {
  font-size: 20px;
  text-align: justify;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

.gamename {
  font-size: 30px;
}
.footer-basic {
  padding: 20px;
  background: #000;
  color: #d6d6c2;
  width: 100%;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.fa {
  background: #000;
  color: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.footer-basic {
  padding: 20px;
  background: #000;
  color: #d6d6c2;
  width: 100%;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.fa {
  background: #000;
  color: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.games {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.games li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.games li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}
.games li.selected {
  background-color: black;
  color: white;
}
.games li.selected:hover {
  background-color: #505050;
  color: white;
}
.games li.selected:active {
  background-color: black;
  color: white;
}
.games .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: 0.5rem;
}
