<div fxLayout="column" fxLayoutAlign="start center" class="mat-body-1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap" rel="stylesheet">
     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>

    <style>
      body, html, .container-fluid {
          height: 50%;
          background-color: #000;
      }

      

    .text-block {
      position: absolute;
      top: 350px;
      left: 40px;
      padding-left: 20px;
      padding-right: 20px;
      height: 300px;
      color: #ffffff;
      
      }

      .hero-message1{
        font-size: 250%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        padding: 0% 0% 5% 0%;
      }

      .hero-message2{
        font-size: 250%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        padding: 5% 0% 0% 0%;
      }
    </style>


  <div class="image-holder">
    <div ><img src ="assets/images/home1.jpg"  style= "width:100%;height: auto;"></div>
    <div class="text-block">
      <p class="hero-message1">THE POWER OF REVIEWS </p>
      <p class="hero-message2">MADE EASY TO UNDERSTAND</p>

    </div>
  </div>
    
    
  <div class="container" style="padding: 20px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="app-info" style="text-align: center; grid: display">
          <div class="app-card" style="padding: 4px;background: #16161dad;
          border-radius: 4px;
          height: 350px;
          position: relative;
          box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%); 
      ">
            <img id ="creator_pic" src ="assets/images/gamer.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-top:-30px" >
            <h4 style="color:aliceblue; padding: 20px">Gamers</h4>
            <p style="color:aliceblue; padding: 10px">Search through existing games in our library for your favorite game and view the visual summary</p>
            
            
          </div>
        </div>
        
        
      </div>
      <div class="col-sm-4">
        <div class="app-info" style="text-align: center; grid: display">
          <div class="app-card" style="padding: 4px;background: #16161dad;
          border-radius: 4px;
          height: 350px;
          position: relative;
          box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
      ">
            <img id ="creator_pic" src ="assets/images/ai.jpg" alt="saha"  style="width:130px; border-radius:50%; padding: 5px; margin-top:-60px" >
            <h4 style="color:aliceblue; padding: 20px">AI</h4>
            <p style="color: aliceblue; padding: 10px">Our AI fetches reviews and analyzes it to produce a visual summary to better understand what others think about your favorite fighting game</p>
          </div>
        </div>
        
      </div>
      <div class="col-sm-4">
        <div class="app-info" style="text-align: center; grid: display">
          <div class="app-card" style="padding: 4px;background: #16161dad;
          border-radius: 4px;
          height: 350px;
          position: relative;
          box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
      ">
            <img id ="creator_pic" src ="assets/images/gamedeveloper.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-top:-30px" >
        <h4 style="color:aliceblue; padding: 20px">Gamer Developers</h4>
        <p style="color:aliceblue; padding: 10px">Upload your own review dataset and view a visual summary of what consumers think about your game</p>
        
          </div>
          </div>
        
      </div>
    </div>
  </div>
  
  
  
  <div class="container" style="padding: 20px;">
      <div class="row">
        <div class="col-sm-2">
          <div class="team-member-info" style="text-align: center; grid: display">
            <div class="card" style="padding: 4px;background: #16161dad;
            border-radius: 4px;
            height: 400px;
            position: relative;
            box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
        ">
              <img id ="creator_pic" src ="assets/images/OGPic.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-left:25px; margin-top:-30px;" >
          <h4  style="color:aliceblue; font-size: 17px; padding: 15px">Gangezwer Uthayakumar</h4>
          <p style="color:aliceblue">Hi! My name is Gangezwer Uthayakumar and I'm studying Software Engineering (BEng) at IIT affiliated with the University of Westminster</p>
          <p style="color: aliceblue;">Contributions: Data Science </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="team-member-info" style="text-align: center; grid: display">
            <div class="card" style="padding: 4px;background: #16161dad;
            border-radius: 4px;
            height: 400px;
            position: relative;
            box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
        ">
              <img id ="creator_pic" src ="assets/images/LuxmanPic.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-left:25px; margin-top:-30px;" >
          <h4  style="color:aliceblue; font-size: 17px; padding:15px">Luxman Ravindrakumar</h4>
          <p style="color:aliceblue">Hi! My name is Luxman Ravindrakumar and I'm studying Software Engineering (BEng) at IIT affiliated with the University of Westminster</p>
          <p style="color: aliceblue;">Contributions: Data Science </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">    
          <div class="team-member-info" style="text-align: center; grid: display">
            <div class="card" style="padding: 4px;background: #16161dad;
            border-radius: 4px;
            height: 400px;
            position: relative;
            box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
        ">
              <img id ="creator_pic" src ="assets/images/MelchiPic.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-left:25px; margin-top:-30px;" >
          <h4  style="color:aliceblue;  font-size: 17px; padding: 15px">Paul Melchi Zedek</h4>
          <p style="color:aliceblue">Hi! My name is Paul Melchi Zedek and I'm studying Software Engineering (BEng) at IIT affiliated with the University of Westminster</p>
          <p style="color: aliceblue;">Contributions: Data Science </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="team-member-info" style="text-align: center; grid: display">
            <div class="card" style="padding: 4px;background: #16161dad;
            border-radius: 4px;
            height: 400px;
            position: relative;
            box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
        ">
              <img id ="creator_pic" src ="assets/images/ChathmaPic.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-left:25px; margin-top:-30px;" >
          <h4  style="color:aliceblue;  font-size: 17px; padding: 15px">Chathma Rathnayake</h4>
          <p style="color:aliceblue">Hi! My name is Chathma Rathnayake and I'm studying Computer Science (BSc) at IIT affiliated with the University of Westminster</p>
          <p style="color: aliceblue;">Contributions: Front End </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="team-member-info" style="text-align: center; grid: display">
            <div class="card" style="padding: 4px;background: #16161dad;
            border-radius: 4px;
            height: 400px;
            position: relative;
            box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
        ">
              <img id ="creator_pic" src ="assets/images/AmeshPic.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-left:25px; margin-top:-30px; " >
          <h4  style="color:aliceblue; font-size: 17px; padding:15px">Amesh Sivakumar</h4>
          <p style="color:aliceblue">Hi! My name is Amesh Sivakumar and I'm studying Computer Science (BSc) at IIT affiliated with the University of Westminster</p>
          <p style="color: aliceblue;">Contributions: Back End </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">       
          <div class="team-member-info" style="text-align: center; grid: display">
            <div class="card" style="padding: 4px;background: #16161dad;
            border-radius: 4px;
            height: 400px;
            position: relative;
            box-shadow: 0 1px 23px 0 rgb(0 0 0 / 10%), 0 2px 30px 0 rgb(0 0 0 / 30%);
        ">
              <img id ="creator_pic" src ="assets/images/ArvindPic.jpg" alt="saha"  style="width:100px; height:100px; border-radius:50%; padding: 5px; margin-left:25px; margin-top:-30px;" >
          <h4  style="color:aliceblue; font-size: 17px; padding: 15px;">Arvind Rajendran</h4>
          <p style="color:aliceblue">Hi! My name is Arvind Rajendran and I'm studying Computer Science (BSc) at IIT affiliated with the University of Westminster</p>
          <p style="color: aliceblue;">Contributions: Front End </p>
            </div>
          </div>
          
        </div>
  
        
      </div>
    </div>
    <div class="footer-basic">
      <footer>
          <div class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a></div>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">Services</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
          <p class="copyright">GameJury ©️ 2018</p>
      </footer>
  </div>
  
</div>
