<!--<app-uploadpage></app-uploadpage>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="nav.css">
 Fonts 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap" rel="stylesheet">
     Bootstrap
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    Add icon library
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container-fluid" style="background: #000;">   
    <div class="row" style="height: 100%;  ">
  
        <div class="col-6 col-sm-4" ><img src ="src/assets/images/newlatest_logo_dk@2x.png" style="width: 100px; height: 100px;"></div>
  
        <div class="col-6 col-sm-4" style="background: #000; font-family: 'Alegreya', serif;font-size: 60px;
        text-align: center;
        background-image: -webkit-linear-gradient(#043f72,#0094c4);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;">GAMEJURY</div>
  
       nav hamburger
        <div class="col-6 col-sm-4" style="background-color: #000;">
          <div class="nav">
          <label>
            <input type='checkbox'>
            <span class='menu'>
              <span class='hamburger'></span>
            </span>
            <ul>
             
              <li>
                <a routerLink='/homepage'>Home</a>
              </li>
              <li>
                <a routerLink='/uploadpage'>Upload Review</a>
              </li>
              <li>
                <a routerLink='/game library'>Game Library</a>
              </li>
              <li>
                <a routerLink='/homepage'>Register</a>
                </li>
            </ul>
          </label>
          </div>
          
          
            </div>
      </div>
    </div>-->
<router-outlet></router-outlet>