<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap" rel="stylesheet">
     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
    </head>
    
      <body>

<!--for the header-->
<div class="container-fluid" style="background: #000;">   
  <div class="row" style="height: 100%;  ">

      <div class="col-6 col-sm-4" ><img src ="assets/images/newlatest_logo_dk@2x.png" style="width: 100px; height: 100px;"></div>

      <div class="col-6 col-sm-4" style="background: #000; font-family: 'Alegreya', serif;font-size: 60px;
      text-align: center;
      background-image: -webkit-linear-gradient(#043f72,#0094c4);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;">GAMEJURY</div>

     <!--nav hamburger-->
      <div class="col-6 col-sm-4" style="background-color: #000;">
        <div class="nav">
        <label>
          <input type='checkbox'>
          <span class='menu'>
            <span class='hamburger'></span>
          </span>
          <ul>
           
            <li>
              <a href='home.html'>Home</a>
            </li>
            <li>
              <a href='upload.html'>Upload Review</a>
            </li>
            <li>
              <a href='#'>Game Library</a>
            </li>
            <li>
                <a href='#'>Register</a>
              </li>
          </ul>
        </label>
        </div>
        
        
          </div>
    </div>
  </div>
<div class = 'gameheading'>
    <h2>Tekken 7</h2>
    <h3>Game Description</h3>
    <p>
      Tekken 7 (鉄拳7) is a fighting game developed and published by Bandai Namco Entertainment. It is the ninth overall installment in the Tekken series.

      Set shortly after the events of Tekken 6, the plot focuses on the events leading up to the final battle between martial artist Heihachi Mishima and his son, Kazuya.
      
      Discover the epic conclusion of the Mishima clan and unravel the reasons behind each step of their ceaseless fight. Powered by Unreal Engine 4, TEKKEN 7 features stunning story-driven cinematic battles and intense duels that can be enjoyed with friends and rivals alike through innovative fight mechanics.

      Love, Revenge, Pride. Everyone has a reason to fight. Values are what define us and make us human, regardless of our strengths and weaknesses. There are no wrong motivations, just the path we choose to take.
      
      Expand your fighter's journey by purchasing the Tekken 7 Season Pass separately and gain access to stunning additional content</p>
  </div>

  <div class="gameimage">
  </div>

  <div class="container">
   <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme','customClassName']">
     <div class="item">
      <div class ='myChart1'>
        <canvas id="myChart1"></canvas>
        </div>
        <div class ='myChart2'>
          <canvas id="myChart2"></canvas>
          <div class ='myChart3'>
            <canvas id="myChart3"></canvas>
            </div>
            <div class ='myChart4'>
              <canvas id="myChart4"></canvas>
              </div>
              <div class ='myChart5'>
                <canvas id="myChart5"></canvas>
                </div>
                <div class ='myChart6'>
                  <canvas id="myChart6"></canvas>
                  </div>
          </div>
     </div>
   </owl-carousel>
  </div>

 

  <div class="grid-container">
    <div class="grid-item">
      <div class ='myChart1'>
      <canvas id="myChart1"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class ='myChart2'>
      <canvas id="myChart2"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class ='myChart3'>
      <canvas id="myChart3"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class ='myChart4'>
      <canvas id="myChart4"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class ='myChart5'>
      <canvas id="myChart5"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class ='myChart6'>
      <canvas id="myChart6"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class ='myChart7'>
      <canvas id="myChart7"></canvas>
      </div>
    </div>
    <div class="grid-item">
      <div class ='myChart8'>
      <canvas id="myChart8"></canvas>
      </div>
    </div>  
  </div>

  <div class="footer-basic">
    <footer>
        <div class="social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">GameJury ©️ 2018</p>
    </footer>
</div>
</body>
</html>
