<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Page</title>
   
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap" rel="stylesheet">
     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="../../assets/js/lightbox.js"></script>
    <style>

      *{
      box-sizing: border-box;
}
     

    body {background-color: black;}
    input[type=text] {
    border: 1px solid #ccc;  
  }

  .container-fluid{
    margin-bottom: 5%;
  }

  .container {
    margin-bottom: 9%;
  }
  
    </style>
</head>
<body>
  

  <div class="container" >
    <div class="row">
      <div class="col-sm-4 style=background-color: #000;">
        <img src ="assets/images/person.png" style="width: 400px; height: auto ;">
      </div>
      <div class="col-sm-8 style=background-color: #000;">
        <div class="container mt-3" style="top: 100%; bottom:20%;">
          
            <div class="form-group">
              <label for="gameName" style= "color: aliceblue;" >Game Name</label>
              <input id="gameName "type="text" class="form-control" (change)="setTitle($event)">
            </div>
            <div class="form-group">
              <label for="description" style= "color: aliceblue;">Game Description</label>
              <textarea name="" id="description" cols="30" rows="10" class="form-control" (change)="setDesc($event)"></textarea>
            </div>
            <div class="form-group">
              <label for="uploadGame" style= "color: aliceblue;">Upload your file:</label>
              <input type="file" #fileUpload name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
               id="fileSelect" style= "color: aliceblue;" (click)="fileUpload.value = null" (change)="importFile($event)">
            </div>
            <button mat-raised-button color="primary" style="background-color: blue;" (click)="uploadFileToActivity();">Submit</button>
            <span class="warning_text" style="color: red;" >{{warning}}</span>
        
        
          
          <div class="Instructions">
            <h2>Instructions:</h2>
            <ul>
              <li>Create a CSV file with the necessary column headings and enter all the required data.
              </li>
              <li>
                The first row has been filled out as an example, please follow the same pattern.
              </li>
              <li>
                A minimum of 5000 entires and no more than 10,000 entires are required for the model to display adequate results.
              </li>
              <li>
                Example CSV files are available to download in order to show an example of the expected outcome.<br>
                <a href="https://www.kaggle.com/smeeeow/steam-game-reviews">Example CSV Files</a>
              </li>
            </ul>
          </div>
           
        </div>
      </div>
    
    </div>
  </div>

  

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

  
  <div class="footer-basic">
    <footer>
        <div class="social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">GameJury ©️ 2018</p>
    </footer>
</div>
      
      

</body>
</html>
